Hi #{@user.first_name},

more information were requested for your lab #{@lab}.

Please make sure to complete all fields of the lab form so that we can learn more about your lab. -

You can check your lab profile at:

\#{lab_url(@lab)}
