Hi #{@user.first_name},

Welcome!

Your lab #{@lab} has been reviewed and we are happy to welcome you to the TCBL Labs community!
This platform gives an overview of all the TCBL Labs across Europe, gives visibility to your Lab inside and outside the TCBL network, allows people to connect to your Lab and to showcase Lab projects and events. Via this platform you can redirect to your Lab website, Facebook pages and other information.
We are looking forward to your content and to work together towards an innovative, more sustainable and fairer textile and clothing industry!

\#{lab_url(@lab)}

For more information on how to manage your lab refer to the \#{link_to('instructions', url_for('/main_lab_page_instruction.pdf'))}.
