.row
  .columns.large-12
    = title "About"
    
    %p 
      %a{:href => "http://tcbl.eu"} TCBL 
      is a four-year European project that aims to transform the Textiles and Clothing industry, with the objective of bringing 5% of production capacity back to Europe by 2025. As the industry continues to experience a period of deep crisis, with a constant de-localization driven by the search for low cost labour, new and significant opportunities are emerging based on new production and distribution technologies, innovative organisational models, and new creative energies. In parallel, customers are showing increasing attention to ethical and environmental sustainability in the clothes they wear. The gap, however, between possible new business models and the reality of small and micro-enterprises is too wide and the risk they face in experimenting new models is currently too high.

    %p We are exploring new ways to design, make, and work together. We're inventing new business models to open up attractive markets. We're taking advantage of new technology to rebuild from the ground up as we bring together traditional craftsmanship with 21st century services. Our new industrial scenarios rely on customer-driven production as we apply innovative methods, materials, and tools. Our business models allow for keeping design and production local. We focus on diversity and excellence in niche markets. We work with artisans and factories, design schools and fablabs, app designers and machinery manufacturers. We focus on re-inventing our businesses as we explore new roles and opportunities. We seek to imbue the clothes we wear with ethical principles, environmental concern, and the dignity of work.

    %p This project has received funding from the European Union's Horizon 2020 Programme for research, technology development, and innovation under grant Agreement n.646133

