.row
  .columns.large-12
    = title "Principles"

    %h5 Curiosity
    %p Explorative, innovative character. Outcomes feed into new, replicable business models. Exploring new business models by reframing.

    %h5 Viability
    %p Economic sustainability of lab structure. Value creation to the community: public events, communication and awareness. Including monetary and non-monetary transactions.

    %h5 Durability
    %p Explore ways to reduce waste.Work with low-impact materials and processes. Work towards emotionally durable design.

    %h5 Multiplicity
    %p Open to both professional and non-professional competences. Gender equivalency and open opportunity structures. Exploration of un-met and un-expressed needs.

    %h5 Openness
    %p Open and freely accessible participation. Sharing knowledge, findings and networks. Interoperable and where possible open source technology and software.

    %h5 Respect
    %p Tools and processes that empower users. Restore the dignity, value and satisfaction of productive making activities. Fair and ethical operations.

    %h5 Responsibility
    %p Spaces and equipment in a safe and secure environment. Availability of support knowledge for processes, machinery, etc. Consultancy and follow-up to participants interested in business development.
