.row
  .columns.large-12
    = title "What is a Lab"

    %p 
      The Labs you can find on this platform are part of a project 
      %a{:href =>"http://tcbl.eu"} TCBL 
      about rethinking the textile and clothing industry. Labs provide the context in within which exploration will take place. Labs connect to each other and to Enterprises that are also part of the TCBL-network. 

    %p The main concept on which the Lab idea is based is to provide innovation spaces for exploration, creativity, entrepreneurship, small production, knowledge and innovation transfer to Associate Enterprises and local citizens, where facilities, equipment, learning materials, case studies, business challenges, solutions, and exchange of know-how will be made available. 

    %p Labs supported by the project will be integrated into a self-development and self- awareness pathway, where the resources and services of a broad network will be accessible and, in an open spirit of mutual exchange, the outcomes from the mobility of ideas can be shared, capitalized and exploited by the new business ecosystem. 

    %p 
      Since Labs across Europe can be very different form each other as regards to activities and focus, they are not similar in set-up or research agenda, but in vision, goals and 
      %a{:href =>"http://labs.tcbl.eu/principles", :target => @target != nil ? @target : "_self"} principles. 
      All Labs aim for alternatives for the current textile and clothing industry and explore different ways of working, designing and making in the context of this sector. 

    %p The starting definition of Business Labs identifies three main types of Lab, not so much as to impose a rigid classification but primarily to identify three key perspectives on innovation and creativity. We could say that given a starting problem, a designer would approach it in one way, a maker from another, and a place-based innovation community in yet another. 
    
    %p 
      %b Design Labs 
      explore tools and methods for designing textiles and clothes, working with professionals, fashion students, or anyone, even working from home.
    
    %p 
      %b Maker Labs 
      experiment with production methods and machinery old and new, from re-discovering traditional tailoring to 3D printing and laser cutting.
    
    %p 
      %b Place Labs 
      investigate the local and social dimensions of clothes making, with new modes of organisation of work such as on-demand or home DIY production, community lab spaces, and networks of artisan shops. 
