// Sticky footer courtesy of http://mystrd.at/modern-clean-css-sticky-footer/
@import "foundation_and_overrides";
footer {
  left: 0;
  bottom: 0;
  height: $footer-height;
  width: 100%;
  text-shadow: 1px 1px 1px #FFF;

  a {
    font-size: 0.85em;
  }

  .split {
    width: 100%;
    margin-bottom: 20px;
  }

  p {
    font-size: 0.7rem;
    color: #999;
  }

  img {
    max-width: 100%;
  }

  body.c-labs.a-map & {
    display: none;
  }

  ul, li {
    list-style: none;
    margin: 0;
    a {
      color: #999;
    }
    a:hover {
      color: #AAA;
    }
  }
}
