.checkbox_container {
  display: inline-block;
  padding: 10px;
}
textarea {
  margin-bottom: 0;
}
.hint {
  padding: 2px;
  display: block;
  color: #AAA;
  font-size: 0.9em;
  margin-bottom: 1em;
}

fieldset {

  // overflow: hidden;
  margin-bottom: 20px;
  padding: 20px;
  background: #FEFEFE;
  fieldset {
    padding: 5px;
    background: none;
    border: none;
    legend {
      // font-weight: normal;
      // color: #AAA;
      border: none;
    }
  }
  legend {
    border: 1px solid #ddd;
    border-bottom: none;
    width: auto;
    background: #FEFEFE;
    color: #111;
    font-weight: bold;
    text-transform: uppercase;
    // font-size: 1.1em;
    padding: 12px 20px 0px 20px;
    margin-bottom: 36px;
    border-radius: 4px 4px 0px 0px;
  }
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #555;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #555;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #555;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #555;
}

.fp {
  border: none;
  box-shadow: none;
  background: none;
}

.input {
  margin-bottom: 1em;
}

#main .field_with_errors {
  border-bottom: 1px solid #E84E61;
  label, abbr, & { color: #E84E61; }
  background: #FAE8E8;
  padding: 5px 0;
}

.bs-callout-warning {
  border-left: 5px solid #E84E61;
  color: #E84E61;
  background: #FAE8E8;
  padding: 20px 10px;
  margin-bottom: 1em;
  ul, li {
    list-style: none;
  }
  h2 {
    font-weight: bold;
    font-size: 1.4em;
  }
}

/* custom css taco */
.radio-group
{
	width: 100%;
	float: left;
	margin-bottom: 20px;
}

/* custom css laurie */

#main {
  display: block;
  min-height: 1900px;
}

#new_lab {
  overflow: hidden;
}

#new_lab fieldset {
  background-color: white;
  max-width: 1000px;
}

/*stacking fieldsets above each other*/

.fieldset-wrapper {

}

#new_lab fieldset.field-one {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 17;
  min-height: 1720px;
  max-width: 1000px;
  min-width: 1000px;
}

#new_lab fieldset.field-two {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 16;
  min-height: 1720px;
  max-width: 1000px;
  min-width: 1000px;
}

#new_lab fieldset.field-three {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 15.5;
  min-height: 1720px;
  max-width: 1000px;
  min-width: 1000px;
}

#new_lab fieldset.field-four {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 15;
  min-height: 1720px;
  max-width: 1000px;
  min-width: 1000px;
}

#new_lab fieldset.field-five {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
  min-height: 1720px;
  max-width: 1000px;
  min-width: 1000px;
}

#new_lab fieldset.field-six {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 9;
  min-height: 1720px;
  max-width: 1000px;
  min-width: 1000px;
}

/* Spacing out the tabs */

#new_lab fieldset legend {
  position: relative;
}

#new_lab fieldset.field-two legend {
  left: 103px;

}

#new_lab fieldset.field-three legend {
  left: 206px;

}

#new_lab fieldset.field-four legend {
  left: 309px;

}

#new_lab fieldset.field-five legend {
  left: 412px;

}

#new_lab fieldset.field-six legend {
  left: 515px;

}

/* Active class to bring fields to front */

.active-field {
  z-index: 9999 !important;
}

