.row
  .columns.large-3
    %span#file-input-name
    - if machine.photo_src.blank? == false  
      = image_tag machine.photo_src, class: '', itemprop: "logo"
  .columns.large-9
    = f.label 'Machine cover picture'
    %span#file-click.button.button-file
      Pick file
      = f.file_field "photo_src", class: "document_image"
